extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
    
block content 
  
        if prods.length>0
            .grid 
                each product in prods
                    article.card.product-item 
                        header.card__header 
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="https://i.pinimg.com/564x/da/83/12/da831276d5b5823be0d3863a1f4e39b0.jpg")
                        div.card__content 
                            h2.product__price $19.99
                            p.product__description A very beautyful book about tinker bell fairy 
                        .card__actions 
                            button.btn Add to cart
        else 
            h1 No products